.header {
	padding: 5%;
	margin: 0 auto;
	width: 100%;
}

/* background from ui gradients*/
body {
	font-family: "PT Sans", sans-serif;
	background: #74ebd5; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		from(#acb6e5),
		to(#74ebd5)
	);
	background: linear-gradient(
		to right,
		#acb6e5,
		#74ebd5
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ul {
	list-style: none;
	display: inline;
	text-align: center;
}

ul li {
	display: inline-block;
}

li.meme {
	position: relative;
	margin: 25px;
	width: 500px;
	height: 500px;
	text-align: center;
	padding: 10%;
	font-size: 50px;
	font-family: "Impact";
	font-weight: normal;
	text-transform: uppercase;
	text-shadow: 0 0 10px black;
	color: white;
}

li:hover {
	opacity: 0.6;
}

#meme-text-top {
	position: absolute;
	margin-top: 0;
	top: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}

#meme-text-bottom {
	position: absolute;
	margin-bottom: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}
